.grid_3_column{
    display: grid !important;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}
.visible.transition{
    display:grid !important;
}