.IssueTop {
  min-height: 3em;
}
#issueDetailCardTime {
  float: right;
}
.add-button {
  float: right;
  background-color: inherit !important;
  color: inherit !important;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  transition: transform linear 0.2s;
}
.tox-tinymce {
  border: 0 !important;
}
.tox .tox-editor-header {
  z-index: unset !important;
}
.commentCardDescription {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: space-between;
}
