.add-button {
  float: right;
  background-color: inherit !important;
  color: inherit !important;
  cursor: pointer;
  transition: transform linear 0.2s;
  &:hover {
    transform: scale(1.2);
  }
  .projectDescription {
    cursor: pointer;
  }
}
