.project-box {
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 40px !important;
  .projects-header {
    position: relative !important;
    .add-button {
      position: absolute;
      right: 20px;
      top: -5px;
      font-size: 10px;
      background-color: white;
      border: none;
      .plus {
        color: red;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
  }
}
