.App {
  height: 100vh;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
}
.ContainerDiv {
  grid-column: 2/3;
  padding-top: 40px;
  padding-left: 2px;
  padding-right: 2px;
  overflow: scroll;
}
.ContainerDiv::-webkit-scrollbar,body::-webkit-scrollbar {
  display: none;
}

.ContainerDiv {
  -ms-overflow-style: none;
}
